      * {
            font-family: calibri;
        }
        h1 {
            text-align: center;
            margin: 30px 0;
        }
        .overall{
            margin: 100px 0;
        }
        .todo {
            width: 300px;
            height: auto;
            min-height: 100px;
            box-shadow: 0 0 20px rgba(0,0,0,0.3);
            margin: 50px auto;
            padding: 20px 30px;
            position: relative;
        }
        .copy {
            text-align: center;
            color: #63424275;
            margin-top: -30px;
        }
        .screen {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            margin-top: 20px;
        }
        .screen input {
            padding: 0 5px;
            color: #444;
            font-size: 20px;
            margin: 0 3px;
            outline: none;
            width: 300px;
            font-family: calibri;
            font-size: 16px;
        }
        .clear{
            width: 300px;
            padding: 5px;
            color: white;
            border-radius: 3px;
            background: linear-gradient(45deg, rgba(255, 0, 128, 0.801), blue);
            cursor: pointer;
            border: none;
        }
        .screen button, .edit, .delete {
            display: block;
            background-color: blue;
            padding: 5px 15px;
            border-radius: 3px;
            border: none;
            font-size: 18px;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }
         .screen button:hover {
            background-color: rgb(250, 0, 125);
         }
         .delete {
            background-color: rgb(250, 0, 125);
         }
         .task {
            font-size: 18px;
         }
         .eachTask {
            display: flex;
            align-items: center;
            justify-content: space-between;
            box-shadow:  0 0 15px rgba(0,0,0,0.3);
            padding: 5px 5px;
            margin: 30px 0;
         }
         .eachTask button {
            display: inline;
         }
         .edit, .delete {
            padding: 5px 5px;
         }
          .hide {
            padding: 5px 10px;
            text-align: center;
            background-color: rgba(173, 216, 230, 0.738);
            color: blue;
            transition: 1s;
            opacity: 0;
        }
